@model List<Yazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazarlar</title>
    <link rel="stylesheet" href="~/Web/css/yazar.css">
</head>
<body>
    <div class="containerr">
        <h1>Yazarlar</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Doğum Tarihi</th>
                    <th>Ülke</th>
                    <th>İşlemler</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var yazar in Model)
                {
                <tr>
                    <td>@yazar.ID</td>
                    <td>@yazar.Ad</td>
                    <td>@yazar.Soyad</td>
                    <td>@(yazar.DogumTarihi.HasValue ? yazar.DogumTarihi.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>@yazar.Ulke</td>
                    <td>
                        <button id="edit-btn" onclick="duzenleme(@yazar.ID)" class="edit-btn" data-id="@yazar.ID">Düzenle</button>
                        <button class="delete-btn" data-id="@yazar.ID">Sil</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button id="add-btn" class="add-btn">Ekle</button>
    </div>
    <script>
        document.querySelectorAll('.delete-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var yazarId = this.getAttribute('data-id');
                window.location.href = "@Url.Action("Delete", "Yazar")/" +yazarId;

            });
        });
        function duzenleme(yazarId) {
             window.location.href = "@Url.Action("Index2", "Yazar")/"+yazarId;
            }


         document.getElementById("add-btn").addEventListener("click", function() {
            window.location.href = "@Url.Action("Index2", "Yazar")/"+0;
        });
    </script>
</body>
</html>
